@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Merriweather&display=swap');

:root {
    --text0 :rgb(0, 0, 0);
    --text1 :rgb(37, 37, 37);
    --text2 :rgb(72, 72, 72);
    --text3 :rgb(129, 129, 129);
}

body {
    margin: 0px;
    font-family: 'Merriweather', serif;
    color: var(--text1);
}

#header {
    width: calc(100% - 2em);
    margin-left: auto;
    margin-right: auto;
    height: 7em;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid var(--text1);
    display: flex;
    align-items: center;
    flex-direction: row;
}

#logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
}

#logo img {
    height: 5em;
}

#logo p {
    font-size: 2em;
    color: var(--text1);
    font-weight: bolder;
}

#article {
    font-family: 'Lora', serif;
    font-size: 1.5em;
    width: 40%;
    line-height: 2em;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    white-space: pre-wrap;
    color: var(--text2);
}

#article h1 {
    font-family: 'Lora', serif;
    font-size: 1.2em;
    color: var(--text0);
    margin-bottom: 0.5em;
}

#article h3 {
    width: 100%;
    font-family: 'Lora', serif;
    font-size: 0.6em;
    line-height: 1em;
    margin: 0em;
    padding-left: 10%;
    color: var(--text3);
}

#article h4 {
    font-family: 'Lora', serif;
    font-size: 0.6em;
    line-height: 0.6em;
    margin: 0em;
    color: var(--text3);
}

#article img {
    width: 80%;
}